{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Gracias
{% endblock %}

{% block content %}

    <p>
        <em> </em>
    </p>

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>Laboratory:</strong></p>
            <p>Por favor espera en tu sitio hasta que tu número sea llamado. Cuando sea tu turno, lleva tu número y el documento que se te entregó, asegúrate de que esté debidamente firmado.</p>
            </div>
    </div>


{% endblock %}

{% block form %}

{% endblock %}
