{% extends "global/Page.html" %}
{% load otree %}
{% load otree static %}
{% block title %}
    Pagos
{% endblock %}

{% block content %}

    <table class="table">
        <thead>
            <th>Tarea</th>
            <th>Pago</th>
        </thead>
        <tbody>
            {% for app, payment in payments.items %}
            <tr>
                <td>{{ app }}</td>
                <td>{{ payment }} soles</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class = 'table'>
        <tr>
            <td><strong>Tarea Escogida</strong></td>
            <td>{{ chosen_app_name }}</td>
        </tr>
        <tr>
            <td><strong>Pagos Finales</strong></td>
            <td> {{ chosen_app_payment_soles }} soles</td>
        </tr>
    </table>

    <table class = 'table'>
        <thead>
            <th>Pago Final + Pago por participar</th>
            <th>{{ chosen_app_payment_plus_fee }} soles</th>
        </thead>
    </table>

    {% next_button %}
{% endblock %}


