<table class="table">
    <tr>
        <th>Cantidad enviada (promedio)</th>
        <td>{{ avg_sent }}</td>
    </tr>
    <tr>
        <th>Cantidad devuelta si se recibiera 3 (promedio)</th>
        <td>{{ received_3 }}</td>
    </tr>
    <tr>
        <th>Cantidad devuelta si se recibiera 6 (promedio)</th>
        <td>{{ received_6 }}</td>
    </tr>
    <tr>
        <th>Cantidad devuelta si se recibiera 9 (promedio)</th>
        <td>{{ received_9 }}</td>
    </tr>
    <tr>
        <th>Cantidad devuelta si se recibiera 12 (promedio)</th>
        <td>{{ received_12 }}</td>
    </tr>
    <tr>
        <th>Cantidad devuelta si se recibiera 15 (promedio)</th>
        <td>{{ received_15 }}</td>
    </tr>
    <tr>
        <th>Cantidad devuelta si se recibiera 18 (promedio)</th>
        <td>{{ received_18 }}</td>
    </tr>
    <tr>
        <th>Cantidad devuelta si se recibiera 21 (promedio)</th>
        <td>{{ received_21 }}</td>
    <tr>
    </tr>
        <th>Cantidad devuelta si se recibiera 24 (promedio)</th>
        <td>{{ received_24 }}</td>
    </tr>
    <tr>
        <th>Cantidad devuelta si se recibiera 27 (promedio)</th>
        <td>{{ received_27 }}</td>
    </tr>
    <tr>
        <th>Cantidad devuelta si se recibiera 30 (promedio)</th>
        <td>{{ received_30 }}</td>
    </tr>
</table>