{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instrucciones
    </h3>

    <p>
        Serás emparejado aleatoria y anonimamente con otro participante.
        En este estudio, uno de ustedes será el Participante 1; y, el otro,
        el Participante 2. Sin embargo, ambos jugarán como ambos participantes
        y luego de que tomen las decisiones correspondientes, se les comunicará
        qué Participante eran. Cabe mencionar que la asignación de este rol 
        es aleatoria.
    </p>
    <p>
        Se tiene {{ Constants.endowment }} para dividirse entre los 2. El 
        Participante 1 debe decidir cuánto retendrá y, por lo tanto, con cuánto
        se quedará el Participante 2.
    </p>
</div>
