    {% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <p style="font-size:15px; color:#CD853F;" align="right">{{ pgCode }}<br/>Period {{ round_num }}</p>
    Autoridad
{% endblock %}

{% block content %}
    {% if player.spanish %}
    <p>
        ¡Felicitaciones! Has sido escogido para ser la autoridad de tu grupo.
        Esto quiere decir que puedes escoger entre dos alternativas:
            </p>

            <br/>

            <p>
                <b>Elección 1:</b> Multiplicar el monto total recaudado por {{ mult }} para que luego pueda ser repartido entre los integrantes.
                <br/><br/>
                <b>Elección 2:</b> Multiplicar el monto total recaudado por {{ mult }} <b>y</b>
                quedarte con {{ display_app_percent }}% del monto total. Lo restante será repartido entre todos los integrantes (incluyéndote).
            </p>

    {% else %}
        <p>
            You have been randomly selected to be the authority within your group and have the power to make one of two
            choices:
        </p>

            <br/>

            <p>
                <b>Choice 1:</b> Multiply the total taxed income of the participants within your group by {{ mult }}.
                <br/><br/>
                <b>Choice 2:</b> Multiply the total taxed income of the participants within your group by {{ mult }} <b>AND</b>
                appropriate {{ tax }}% of the total for yourself.
            </p>

    {% endif %}
    <div>
        <button name="auth_appropriate" value="False" class="btn btn-primary btn-large">Elección 1</button>
        <button name="auth_appropriate" value="True" class="btn btn-primary btn-large">Elección 2</button>
    </div>

{% endblock %}