{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
{% if mode != 3 %}
        <p style="font-size:15px; color:#CD853F;" align="right"><br/>Period {{ round_num }}</p>Información sobre la autoridad
{% else %}
        <p style="font-size:15px; color:#CD853F;" align="right"><br/>Period {{ round_num }}</p>Información sobre la apropiación
{% endif %}
{% endblock %}

{% block content %}
    {% if player.spanish %}
        <p>
            Otro jugador fue seleccionado para ser la autoridad. Él decidió {{ decision }}
        </p>
    {% else %}
        <p>
        Another player was selected to be the "Authority", and he/she decided to {{ decision }}
        </p>
    {% endif %}
{% next_button %}

    
{% endblock %}


