<div class="card bg-light instructions">
    <p>
    <h2>
    Instrucciones Iniciales
    </h2>
    </p>


    <p>
        Bienvenido al Laboratorio de Economía Experimental (LEEX). Gracias por tomarte un tiempo para participar en nuestra investigación.
        Estas son instrucciones generales para la sesión. En la pantalla del ordenador se darán instrucciones específicas para la interacción y
        la toma de decisiones.
        <br><br>
        <h3>Instrucciones Generales</h3>
        <br>
        <ul>
        <li>El uso de teléfonos celulares y otros dispositivos electrónicos (como tabletas, relojes inteligentes, etc.) no está permitido.</li>
        <li>Por favor, pon tu  teléfono celular en modo silencioso y guárdalo  durante la duración del experimento.</li>
        <li>Por favor, guarda cualquier cosa que distraiga (libros, comida, papeles) durante la duración del experimento.</li>
        <li>A partir de ahora, no hables ni te comuniques de ninguna manera con otros participantes del experimento.</li>
        <li>Si hablas en voz alta, te ríes, etc. se te pedirá que dejes el experimento y no recibirás pago.</li>
        <li>Por favor, no mires las pantallas de los otros participantes.</li>
        <li>Si tienes alguna pregunta, levanta la mano y un experimentador llegará hasta tu lugar para contestar tu pregunta en privado.</li>
        <li>Durante el experimento, serás anónimamente emparejado con otro(s) participante(s) presente(s) en el laboratorio con el(los) que vas a  interactuar a través del computador. En ningún caso serás emparejado con una computadora o un robot.</li>
        <li>Las cantidades de dinero que verá en la pantalla de la computadora son reales y reflejan lo que usted o la persona con la que está emparejado podrá llevarse a casa.</li>
        <li>Los pagos se realizarán en privado al final de la sesión.</li>
        <li>Este experimento se dividirá en n bloques. Al inicio de cada bloque, aparecerán las instrucciones que correspondan al mismo.</li>
        <li>Cada bloque tendrá m rondas.</li>
        </ul>
        <br><br>
    </p>
    <div align="center">
    <h3>
        MUCHAS GRACIAS POR PARTICIPAR
    </h3>
    </div>
    </div>
</div>
