{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">
    <h3>
        Instrucciones
    </h3>

    <p>
        Este juego combina elementos del juego de bienes públicos y pago de impuestos.

        <br><br>
        Tendrás que realizar una tarea de transcripción que determinará cuál será tu ingreso en el juego.

        Una vez que tengas un nivel de ingreso determinado, se te pedirá que reportes al Estado cuál fue el monto que recibiste, con el objetivo de que puedan descontarte los impuestos.

        <br><br>
        Tú puedes decidir si reportas todo lo que ganaste en la tarea o un monto menor pero, ten en cuenta que se realizarán <b>auditorías aleatoriamente</b>.

        El monto recaudado será invertido por el Estado en una obra pública que tendrá beneficios para los participantes, es decir, las ganancias de la obra pública serán repartidas entre todos.

        De esta manera, tu ganancia también depende de las decisiones de los otros participantes pues se divide el total de lo recaudado en partes iguales, sin importar cuánto aportó cada uno.
        <br><br>
        Asimismo, el Estado (Autoridad) también juega un papel muy importante porque dependiendo de su eficacia, las ganancias de la obra pública se podrían multiplicar.

        En cada ronda se escogerá a un participante para que sea la Autoridad y tome una decisión con respecto a la eficacia del Estado.
        <br><br>
        Debes estar atento a las indicaciones pues habrán cambios en:

        <br><br>
        <b>Las tasas impositivas:</b> En cada ronda, la tasa puede ser 20% o 50%.
        <br><br>
        <b>Eficacia de la Autoridad:</b> En algunas rondas, los participantes que sean seleccionados para ser la autoridad podrán multiplicar las ganancias de la obra pública pero, en otras oportunidades, podrán multiplicar las ganancias y quedarse con parte de ellas.

    </p>
    <p>
        Las ganancias de cada uno se calculan de la siguiente manera: </p>
        <p>
        Si tu ingreso declarado es igual a tu ingreso verdadero, tu ganancia final es tu ingreso neto de impuestos más tu ganancia por la obra pública.
        </p>
    <p>
        Si tu ingreso declarado NO es igual a tu ingreso  pero NO fuiste auditado, tu ganancia final es igual a tu ingreso declarado neto de impuestos MÁS el monto del ingreso que no declaraste MÁS la ganancia por la obra pública.
    </p>
        <p>
        Si tu ingreso declarado NO es igual a tu ingreso  pero SÍ fuiste auditado, tu ganancia final es igual a tu ingreso declarado neto de impuestos MÁS el monto del ingreso que no declaraste MÁS la ganancia por la obra pública MENOS la penalidad.
    </p>
    <p>
        El resultado final se muestra al final de cada ronda.
    </p>

    </div>
</div>