{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<head>
<style>
h2 {
        color: #F8F4EE;
}
</style>
</head>
<body>
<div class="card bg-light instructions">
    <div class="card-body">
    
    <b>{{ group.id_in_subsession }}</b> p: {{ player.id_in_group }}

    <h3>
        Instrucciones del Bloque
    </h3>

    <p>
        <div align="justify">
        Este experimento tendrá 2 bloques y 10 rondas de decisión por bloque. Antes de cada bloque, todos los
        participantes serán asignados a un grupo de {{ Constants.players_per_group }} personas completamente al azar. Una vez formados los
        grupos, el bloque comenzará.

        <br><br>
        <ol>
            <li>Al comenzar la ronda, realizarás una tarea de transcripción que te generará ingresos en SOLEX.
                Mientras mejor sea la transcripción, mayores serán tus ingresos.</li>
            <li>Luego, reportarás tu ingreso al Estado para que se descuenten los impuestos respectivos. La tasa de
                impuestos es de {{ display_tax_perc }} de tu ingreso. Tú puedes decidir si reportas todo lo que ganaste en la tarea
                o un monto distinto.</li>
            <li>Se realizarán auditorías al azar con probabilidad {{ audit_prob }}. Si eres auditado, y reportaste ingresos menores
                a los que recibiste, se te impondrá una penalidad, la cual es descrita a detalle en la sección de <i>Pagos</i>.</li>
            <li>Con el dinero de los impuestos, el Estado “hace obras públicas” que benefician a los ciudadanos. En concreto, el
                monto total de contribuciones es multiplicado por {{ mult }} y luego es repartido por igual entre todos los
                ciudadanos. Esta transferencia se realiza sin importar quiénes
                y cuánto han contribuido.</li>
            <li>Se considera que el <i>Estado ha sido eficiente</i> si la cantidad multiplicada es repartida a todos los participantes
                en partes iguales
            </li>
        </ol>
        <br><br>
        </div>

        <H5>Pagos:</H5> Los pagos o ganancias por ronda que tendrá un participante se determinan así:
        <br><br>
        <ul>
        <li>Si tu ingreso declarado es igual a tu ingreso verdadero, tu pago de la ronda es:
            <br><br> <b>Pago</b> = Ingreso neto de impuestos + Ganancia por la obra pública.<br><br></li>
        <li>Si tu ingreso declarado NO es igual a tu ingreso pero NO eres auditado, tu pago de la ronda es:
            <br><br> <b>Pago</b> = Ingreso neto de impuestos + Ganancia por la obra pública + Ingreso no declarado.<br><br></li>
        <li>Si tu ingreso declarado NO es igual a tu ingreso pero SÍ eres auditado, tu pago de la ronda es:
            <br><br> <b>Pago</b> = Ganancia por la obra pública + (100% - {{ penalty }})*(Ingreso antes de impuestos - Impuestos sobre Ingreso declarado) 
        </ul>
        El resultado de la ronda se muestra al terminar cada ronda.
        <br><br>
        {% if group.authority != "no authority"  %}
            <h5>Autoridad:</h5> En esta ronda, se escogerá a un participante para que sea la Autoridad y tome una decisión con respecto a la
            eficacia del Estado: tendrá la opción de tomar {{ appropiation_percent_display }} de lo recaudado tras ser multiplicado
            para sí mismo o repartir lo multiplicado a todos en partes iguales.
            <br><br>
        {% else %}
            {% if group.appropriation_percent != 0  %}
                <h5>Eficacia del Estado:</h5> En esta ronda, uno de los participantes será 
                elegido aleatoriamente para recibir {{ appropiation_percent_display }} de lo recaudado 
                tras ser multiplicado.
            {% endif %}
        {% endif %}
    </p>
    <p>
        <h5>Cambios por Ronda: </h5>
        Debes estar atento a las indicaciones, ya que habrán cambios en:<br><br>
        <ul>
            {% if group.authority == "no authority" %}
                <li><b>Autoridad:</b> En algunas rondas, un participante puede ser elegido aleatoriamente para que sea la Autoridad y tome una decisión con respecto a la
                eficacia del Estado: tendrá la opción de tomar una parte adicional de lo recaudado tras ser 
                multiplicado para sí mismo o repartir lo multiplicado a todos en partes iguales.              
                </li>
                <li><b>Eficacia del Estado:</b> En algunas rondas donde no haya autoridad, uno
                de los participantes puede ser elegido aleatoriamente para quedarse con una parte adicional
                de lo recaudado tras ser multiplicado. En otras rondas, puede haber un participante que 
                se encargue de multiplicar lo recaudado, pero no pueda tomar una parte para sí mismo.</li>
            {% else %}
                <li><b>Autoridad:</b> En algunas rondas, puede no haber Autoridad.</li>
                <li><b>Eficacia del Estado:</b> En algunas rondas donde no haya autoridad, uno de los participantes puede ser elegido aleatoriamente para recibir
                una parte adicional de lo recaudado tras ser multiplicado. En otras rondas, puede haber un participante que se encargue de multiplicar lo recaudado,
                pero no pueda tomar una parte para sí mismo.</li>
            {% endif %}
            <li><i><b>Importante:</b></i> Si la autoridad o participante elegido toma una parte de lo multiplicado, 
            lo restante será dividido en partes iguales entre todos los participantes, incluyendo a este mismo participante.
            </li> 
        </ul>
        De ocurrir algún cambio, las instrucciones previas a esta sección se actualizarán según corresponda.
    </p>
    </div>
</div>
</body>
{% next_button %}

{% endblock %}

