{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <p style="font-size:15px; color:#CD853F;" align="right"><br/>Period {{ round_num }}</p>
    Resultados
{% endblock %}

{% block content %}
    {% if group.spanish %}
        <b>{{ group.id_in_subsession }}</b> p: {{ player.id_in_group }}
        <table class="table-condensed" style="width:500px; margin-top:20px;">
        <tr><td colspan="2"><hr/></td></tr>
        <tr><td>Tu <b>ingreso original</b> fue: </td><td>{{ orig }}</td></tr>
        <tr><td><br/></td></tr>
        <tr><td>Tu <b>ingreso reportado</b> fue: </td><td>{{ player.contribution }}</td></tr>
        <tr><td><br/></td></tr>
         <tr><td>Los <b>impuestos que pagaste</b> fueron: </td><td>{{ taxcob }}</td></tr>
        <tr><td><br/></td></tr>
        <tr><td>Los <b>ingresos reportados</b> por</td><td></td></tr>
        <tr><td>los <b>otros</b> participantes fue:</td>
        {% for p in player.get_others_in_group %}
            <tr><td></td><td>{{ p.contribution }}</td></tr>
        {% endfor %}
        <tr><td colspan="2"><hr/></td></tr>
        <tr><td><b>Recaudación total:</b></td><td>{{ total_contribution }}</td></tr>
            <tr><td>(<b>Suma</b> de las <b>impuestos</b> pagados</td></tr>
            <tr><td>por <b>todos</b> los jugadores)</td></tr>
        <tr><td><br/></td></tr>
        <tr><td><b>Ganancia total</b> de la inversión pública:</td><td>{{ total_earnings }}</td></tr>
        <tr><td>( Recaudación total*2 )</td></tr>

            {% if authority != "no authority"  %}
                {% if group.auth_appropriate != 0 %}
                    {% if player.id_in_group != group.authority_ID %}
                        <tr><td>La <b>autoridad</b> se <b>quedó</b> con:</td><td>{{total_appropriation}} (25% de ganancia total de inversión pública) </td></tr>
                    {% else %}
                        <tr><td>Te quedaste con: </td><td>{{total_appropriation}} (25% de ganancia total de inversión pública) </td></tr>
                    {% endif %}
                {% endif %}
            {% else %}
                {% if group.auth_appropriate != 0 %}
                    <tr><td>Un <b>jugador</b> se <b>quedó</b> con:</td><td>{{total_appropriation}} ({{ appropiation_percent_display }} de ganancia total de inversión pública) </td></tr>    
                {% endif %}
            {% endif %}

        <tr><td colspan="2"><hr/></td></tr>
        <tr><td>Por lo tanto, tú <b>ganaste</b>:</td><td>{{ payoff }}</td></tr>
        <tr><td>( Ingreso - Impuestos + </td></tr>
        {% if total_appropriation != 0 %}
            {% if player.id_in_group != group.authority_ID %}
                <tr><td>(Ganancia Total - Cantidad apropiada)/(Número de Jugadores) )</td></tr>
            {% else %}
                <tr><td>(Ganancia Total - Cantidad apropiada)/(Número de Jugadores) + Cantidad apropiada</td></tr>
            {% endif %}
            
        {% else %}
            <tr><td>(Ganancia Total)/(Número de Jugadores) )</td></tr>
        {% endif %}
        <tr><td colspan="2"><hr/></td></tr>
        <tr><td><br/></td></tr>
        </table>
    {% else %}
        <table class="table-condensed" style="width:900px; margin-top:20px;">
        <tr>
            <td>You reported income of:</td>
            <td>{{ player.contribution }}</td>
        </tr>

        <tr>
            <td>Total tax contribution (tax rate multiplied by total reported income):</td>
            <td>{{ group.total_contribution }}</td>
        </tr>

        <tr>
            <td>Group money (Total tax contribution multiplied by 2: </td>
            <td>{{ group.total_contribution }}</td>
        </tr>
        <tr>
            <td colspan="2"><hr/></td>
        </tr>

        {% if mode != 1 %}
            <tr>
                <td>Money appropriated by authority ({{display_app_percent}}% of the Group money):</td>
                <td>{{ appropriation }}</td>
            </tr>

            <tr>
                <td colspan="2"><hr/></td>
            </tr>
        {% endif %}

        <tr>
            <td>Money distributed equally among group members:</td>
            <td>{{ total_earnings }}</td>
        </tr>

        <tr><td colspan="2"><hr/></td></tr>

        <tr>
            <td>Your payoff for this period is:</td>
            <td>{{ player.income }} - {{ player.contribution }} * {{ tax }} + {{ player_earnings }}</td>
        </tr>
        <tr>
            <td>Task Income - Reported Income * Tax Rate + Share of group money</td>
            <td>{{ payoff }} ECUs</td>
        </tr>

    </table>
    <p></p>

    {% endif %}

    {% next_button %}
    <p>
        {% include Constants.contact_template %}
    </p>

{% endblock %}
