{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instrucciones Generales
{% endblock %}

{% block content %}

    <p>
        Estimado participante, gracias por su interés en colaborar con el presente 
        estudio de investigación.
    </p>
    <p>
        En esta sesión, usted realizará cinco tareas, las cuales pueden ser individuales
        o grupales. Cuatro de las tareas presentadas le darán la oportunidad de 
        obtener un pago dependiendo de las decisiones que se le permitan tomar. Por 
        ello, debe estar atento a las instrucciones que se le muestren al inicio de 
        cada una.
    </p>
    <p>
        Se eligirá al azar lo acumulado en una de las tareas como su pago final
        por la sesión. Se estima que acabar las tareas tomará como máximo 1 hora
        y media.
    </p>
    <p>
        Permanezca en su sitio durante toda la sesión y evite el uso de dispositivos
        móviles o que puedan alterar su concentración.
    </p>
    <p>
        Para comenzar, puede hacer click en el botón "Siguiente".
    </p>
    {% next_button %}
    <b>Contáctenos:</b>
    <br>
    <img height="2%" width="2%" src="{% static 'whatsapp.png'%}"/> <a href="https://wa.me/0051985730063" target="_blank">+51 985730063</a>
    <br>
    <img height="2%" width="2%" src="{% static 'gmail.png'%}"/> <a href="https://mail.google.com/mail/?view=cm&fs=1&to=e2lab@up.edu.pe" target="_blank">e2lab@up.edu.pe</a> 
    <br>
    <img height=10% width=20% src="{% static 'logoup.png'%}"/>
{% endblock %}
